:root {
    --primary-color: rgb(243, 243, 243);
    --secondary-color: rgb(79, 167, 240);
    --fade-color: rgba(0, 0, 0, 0.5);
    --navbar-heigt: 60px
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
}

.controllerContainer {
    width: 100%;
    height: auto;
    background-color: #F3F9FF;
    position: absolute;
}

.fade {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
}

.elementsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 60px;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #F3F9FF;
    background: linear-gradient(160deg, #b1d8ff, #a2dcfd);

    user-select: none;
}

.iconDiv {
    animation-name: flotando;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.IconImg {
    margin-bottom: 10px;
    width: 300px;
    height: auto;
}

.hidden {
    display: none;
}