:root {
    --primary-color: rgb(243, 243, 243);
    --secondary-color: rgb(79, 167, 240);
    --fade-color: rgba(0, 0, 0, 0.5);
    --navbar-heigt: 60px
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
}

body {
    background: linear-gradient(160deg, #b1d8ff, #a2dcfd);
}

.controllerContainer {
    width: 100%;
    height: auto;
    background-color: #F3F9FF;
    position: absolute;
}

.fade {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
}

.elementsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 60px;
    position: fixed;
    width: 100%;
    height: 90%;
    background: #F3F9FF;
    background: linear-gradient(160deg, #b1d8ff, #a2dcfd);

    user-select: none;
}

.iconDiv {
    animation-name: flotando;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.IconImg {
    margin-bottom: 10px;
    width: 300px;
    height: auto;
}

.hidden {
    display: none;
}

/* Alert account created 
    warning, error and success alert css
*/

.alertDivFade {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.531);

    display: flex;
    justify-content: center;
    align-items: center;
}

.alertDiv {
    width: 400px;
    height: 300px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    border-radius: 10px;
}

.textAlert {
    font-size: 30px;
    font-weight: bold;
}

.checkIcon {
    font-size: 50px;
}


/* Alert account created 
    floating right top corner success alert css
*/

.alertDivFadeFR {
    position: absolute;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: flex-end;

    position: fixed;
    right: -10000%;
    transition: right 1s ease-in-out;
}

.alertDivFR {
    width: 400px;
    height: 70px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;
    border-radius: 10px;
}

.textAlertFR {
    font-size: 20px;
    font-weight: bold;
}

.checkIconFR {
    font-size: 35px;
}

/* Warning alert css */

.alertDivFadeWarning {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.531);

    display: flex;
    justify-content: center;
    align-items: center;
}

.alertDivWarning {
    width: 400px;
    height: 300px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    border-radius: 10px;
}

.textAlertWarning {
    font-size: 20px;
    font-weight: bold;
}

.checkIconWarning {
    font-size: 50px;
}

.divBtns {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Access btn css */

.accessBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: #F3F9FF;
    width: 25%;
    height: 40px;
    margin: 15px;

    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);

    border-radius: 5px;
    border: 1px solid black;

    font-weight: bold;

    transition: transform 0.5s ease;
}

.accessBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
}