.welcomeDiv {
    text-align: center;
    margin-bottom: 50px;
}

.welcomeTitle {
    color: black;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cloudIconDiv {
    animation-name: flotando;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cloudIconImg {
    margin-bottom: 10px;
    width: 300px;
    height: auto;
}

/* ANIMACIONES */

@keyframes flotando {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: (0, 0px);
    }
}