.welcomeDiv {
    text-align: center;
    margin-bottom: 50px;
}

.welcomeTitle {
    color: black;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cloudIconDiv {
    animation-name: flotando;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cloudIconImg {
    margin-bottom: 10px;
    width: 300px;
    height: auto;
}

.accessBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: #F3F9FF;
    width: 25%;
    height: 40px;
    margin: 15px;

    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);

    border-radius: 5px;
    border: 1px solid black;

    font-weight: bold;
}

.accessBtn:hover {
    cursor: pointer;
    scale: 1.09;
}

/* ANIMACIONES */

@keyframes flotando {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: (0, 0px);
    }
}