.navbarController {
    width: 100%;
    height: var(--navbar-heigt);
    background-color: #b1d8ff;
    position: fixed;
    display: grid;
    justify-content: baseline;
}

.navbarBackBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin-bottom: 10px;

    user-select: none;
    cursor: pointer;

    font-size: 30px;
    font-weight: bold;
    color: white;

    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.navbarBackBtn:hover {
    scale: 1.1;
    border: 0.9px solid white;
}